*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    user-select: none;
}

body{
    background: rgb(59,166,49);
    background: linear-gradient(90deg, rgba(59,166,49,1) 0%, rgba(45,124,38,1) 100%);
}
#mensaje-fixed{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 80px;
    width: max-content;
    bottom: 20px;
    left: 30%;
    right: 30%;
    margin: auto;
    padding: 15px;

    z-index: 999;
}
#mensaje-fixed h2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
}

#mensaje-fixed #alternativa{
    display: none;
}

header{
    width: 80%;
    height: 80px;
    border-bottom: 1px solid white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header .izquierda{
    display: flex;
    flex-direction: row;
}

header .izquierda img{
    width: 80px;
}

header .derecha{
    display: flex;
    flex-direction: row;
}

header .derecha{
    display: flex;
    flex-direction: row;
}

header .user_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .user_info h2{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-right: 15px;
    color: white;
    font-weight: 600;
}

header .user_info #h2Alternativo{
    display: none;
}
header .user_info h4{
    display: flex;
    align-items: center;
    background-color: #2d7c26;
    color: white;
    height: max-content;
    padding: 3px;
    padding: 5px;
    border-radius: 20px;
}

header .caramelos{
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .caramelos img{
    width: 50px;
    height: 50px;
}
header .caramelos h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    font-weight: 600;
}

header .caramelos #h2CaramelosAlternativo{
    display: none;
}

#caramelos_info{
    display: none;
    position: absolute;
    top: 60px;
    background-color: #2d7c26;
    padding: 5px;
    box-shadow: 0 0 2px black;
}
#caramelos_info p{
    font-size: 1rem;
}

header .logo{
    display: flex;
    justify-content: left;
}

.games-box{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.games-row{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#games-row-1 article{
    max-width: 500px;
    width: 47%;
    background-color: #2d7c26;
    cursor: pointer;
    transition: 0.2s;
}

#game1{
    margin-bottom: 0;
}

#games-row-2,
#games-row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}
#games-row-2 article,
#games-row-3 article{
    max-width: 350px;
    width: 30%;
    height: 300px;
    background-color: #2d7c26;
    cursor: pointer;
    transition: 0.2s;
}
#games-row-1 article:hover,
#games-row-2 article:hover,
#games-row-3 article:hover{
    transform: scale(1.03);
    transition: 0.2s;
}

.game-desc{
    padding: 15px;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.897) 10%, rgba(0,0,0,0) 100%);
    transition: 0.2s;
}
.game-desc:hover{
    padding-top: 30px;
    padding-left: 13px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.897) 40%, rgba(0, 0, 0, 0.24) 100%);
    transition: 0.2s;
}

.game-desc h2{
    color: white;
    font-weight: 700;
}
.game-desc p{
    color: white;
    text-shadow: 0 0 7px black;
}

#game1{
    background-image: url('../IMG/bg-slots.jpg');
}
#game2{
    background-image: url('../IMG/bg-bingo.jpg');
}
#game3{
    background-image: url('../IMG/bg-dados.jpg');
}
#game4{
    background-image: url('../IMG/bg-ruleta.jpg');
}
#game5{
    background-image: url('../IMG/bg-rascaygana.jpg');
}
#game6{
    background-image: url('../IMG/bg-blackjack.jpg');
}
#game7{
    background-image: url('../IMG/bg-vasosybola.jpg');
}
#game8{
    background-image: url('../IMG/cartaalta.jpg');
}

footer{
    background-color: #2d7c26;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer h4{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

@media only screen and (max-width: 900px){

    header .izquierda{
        justify-content: center;
        align-items: center;
    }

    header .izquierda img{
        height: 60px;
        width: 60px;
    }

    header .user_info{
        width: max-content;
        flex-direction: column;
        align-items: flex-start;
    }

    header .user_info h2{
        display: none;
    }

    header .user_info #h2Alternativo{
        display: flex;
    }

    header .caramelos{
        flex-direction: column-reverse;
    }

    header .caramelos h2{
        display: none;
    }

    header .caramelos #h2CaramelosAlternativo{
        display: flex;
    }

    header .caramelos img{
        height: 40px;
        width: 40px;
    }

    #mensaje-fixed h2{
        display: none;
    }

    #mensaje-fixed #alternativa{
        width: max-content;
        display: flex;
    }

    .games-row{
        flex-direction: column;
        margin-bottom: 0;
        
    }

    #games-row-1{
        
        height: max-content;
    }

    #game1{
        margin-bottom: 15px;
    }

    #games-row-1 article{
        max-width: none;
        width: 100%;
        height: 125px;
        overflow: scroll;
    }

    #games-row-2 ,
    #games-row-3 {
        flex-direction: column;
    }

    #games-row-2 article,
    #games-row-3 article{
        max-width: none;
        width: 100%;
        height: 125px;
    }

    article{
        margin-bottom: 15px;
    }
}
