*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    user-select: none;
}

body{
    background: rgb(59,166,49);
    background: linear-gradient(90deg, rgba(59,166,49,1) 0%, rgba(45,124,38,1) 100%);
}
#mensaje-fixed{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 80px;
    width: max-content;
    bottom: 20px;
    margin: auto;
    padding: 15px;
    right: 0;
    left: 0;
    z-index: 999;
}
#mensaje-fixed h2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
}

#mensaje-fixed #alternativa{
    display: none;
}

header{
    width: 80%;
    border-bottom: 1px solid white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header .izquierda{
    display: flex;
    flex-direction: row;
}

header .izquierda img{
    width: 80px;
}

.username{
    cursor: pointer;
}

header .derecha{
    display: flex;
    flex-direction: row;
}

header .derecha{
    display: flex;
    flex-direction: row;
}

header .user_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .user_info h2{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-right: 15px;
    color: white;
    font-weight: 600;
}

header .user_info #h2Alternativo{
    display: none;
}
header .user_info h4{
    display: flex;
    align-items: center;
    background-color: #2d7c26;
    color: white;
    height: max-content;
    padding: 3px;
    padding: 5px;
    border-radius: 20px;
}

header .caramelos{
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .caramelos img{
    width: 50px;
    height: 50px;
}
header .caramelos h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    font-weight: 600;
}

header .caramelos #h2CaramelosAlternativo{
    display: none;
}

#caramelos_info{
    display: none;
    position: absolute;
    top: 60px;
    background-color: #2d7c26;
    padding: 5px;
    box-shadow: 0 0 2px black;
}
#caramelos_info p{
    font-size: 1rem;
}

header .logo{
    display: flex;
    justify-content: left;
}

.games-box{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.games-row{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.game-box-2{
    width: 100%;
}
#games-row-1 article{
    width: 100%;
    background-color: #2d7c26;
    cursor: pointer;
    transition: 0.2s;
}

#game1{
    margin-bottom: 0;
}

#games-row-2,
#games-row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}
#games-row-2 article,
#games-row-3 article{
    height: 300px;
    background-color: #2d7c26;
    cursor: pointer;
    transition: 0.2s;
}
#games-row-1 article:hover,
#games-row-2 article:hover,
#games-row-3 article:hover{
    transform: scale(1.03);
    transition: 0.2s;
}

.game-desc{
    padding: 15px;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.897) 10%, rgba(0,0,0,0) 100%);
    transition: 0.2s;
}
.game-desc:hover{
    padding-top: 30px;
    padding-left: 13px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.897) 40%, rgba(0, 0, 0, 0.24) 100%);
    transition: 0.2s;
}

.game-desc h2{
    color: white;
    font-weight: 700;
}
.game-desc p{
    color: white;
    text-shadow: 0 0 7px black;
}

#game1{
    background-image: url('../IMG/bg-slots.jpg');
}
#game2{
    background-image: url('../IMG/bg-bingo.jpg');
}
#game3{
    background-image: url('../IMG/bg-dados.jpg');
}
#game4{
    background-image: url('../IMG/bg-ruleta.jpg');
}
#game5{
    background-image: url('../IMG/bg-rascaygana.jpg');
}
#game6{
    background-image: url('../IMG/bg-blackjack.jpg');
}
#game7{
    background-image: url('../IMG/bg-vasosybola.jpg');
}
#game8{
    background-image: url('../IMG/cartaalta.jpg');
}

footer{
    background-color: #2d7c26;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer h4{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

@media only screen and (max-width: 900px){

    header .izquierda{
        justify-content: center;
        align-items: center;
    }

    header .izquierda img{
        height: 60px;
        width: 60px;
    }

    header .user_info{
        width: max-content;
        flex-direction: column;
        align-items: flex-start;
    }

    header .user_info #h2Alternativo{
        display: flex;
    }

    header .caramelos{
        flex-direction: column-reverse;
    }

    header .caramelos h2{
        display: none;
    }

    header .caramelos #h2CaramelosAlternativo{
        display: flex;
    }

    header .caramelos img{
        height: 40px;
        width: 40px;
    }

    #mensaje-fixed h2{
        display: none;
    }

    #mensaje-fixed #alternativa{
        width: max-content;
        display: flex;
    }

    .games-row{
        flex-direction: column;
        margin-bottom: 0;
        gap:0;
    }

    #games-row-1{
        
        height: max-content;
    }

    #game1{
        margin-bottom: 15px;
    }

    #games-row-1 article{
        max-width: none;
        width: 100%;
        height: 125px;
        overflow: scroll;
    }

    #games-row-2 ,
    #games-row-3 {
        flex-direction: column;
    }

    #games-row-2 article,
    #games-row-3 article{
        max-width: none;
        width: 100%;
        height: 125px;
    }

    article{
        margin-bottom: 15px;
    }
}

.login{
    cursor: pointer;
}
.login-form {
    z-index: 99999999;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.login-form.active{
    display: block;
}
.caja-ingreso {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-ingreso img {
    width: 420px;
    height: 420px;
    animation: 16s anim-ruletaingreso;
    animation-iteration-count: infinite;
}
.contenedor-ingreso{
    position: absolute;

}
@keyframes anim-ruletaingreso {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(180deg);
    }
    40% {
        transform: rotate(50deg);
    }
    60% {
        transform: rotate(160deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#form-ingreso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 45px;
    width: 320px;
    height: 320px;
    border-radius: 500px;
    margin: auto;
}

#form-ingreso h1 {
    color: black;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: #47b850;
}
#form-ingreso h4 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: #181818;
    margin-bottom: 35px;
    font-size: 0.8rem;
}
#form-ingreso label {
    margin-bottom: 15px;
}
#form-ingreso label .fa-solid {
    font-size: 20px;
}
#form-ingreso label input {
    outline: none;
    border: none;
    color: black;
    border-bottom: 3px solid rgb(71, 184, 80);
    padding: 5px;
    padding-left: 0;
    font-size: 18px;
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#form-ingreso input:hover {
    border-bottom: 3px solid rgb(71, 184, 80);
}

#form-ingreso button {
    color: white;
    border: none;
    background: linear-gradient(to right, #000000, rgb(71, 184, 80));
    width: 200px;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
#form-ingreso button:hover {
    background-color: rgb(71, 184, 80);
    box-shadow: 0 0 10px rgb(71, 184, 80);
    padding: 15px;
    transition: 0.1s;
}
