/*log in*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
  }
  
body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-image: url('../IMG/fondo.jpg');
   background-size: cover;
   background-repeat: no-repeat; 
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 20px 25px;
    
}
  
form .titulo{
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}
form label{
    margin-bottom: 35px;
}
form label .fa-solid{
    font-size: 20px;
    margin-right: 10px;
  
}

form label input{
    outline: none;
    border: none;
    color: black;
    border-bottom: 3px solid rgb(71,184,80);
    padding: 0;
    font-size: 18px;
}
input:hover{     
    border-bottom: 3px solid  rgb(71,184,80);
}
  
form button{
    color: white;
    border: none;
     background: linear-gradient(to right,#000000, rgb(71,184,80) );
    padding: 10px;
    cursor: pointer;
    transition: .1s;
    margin: 10px;
}
button:hover{
    background-color: rgb(71,184,80);
    box-shadow: 0 5px 10px  rgb(71,184,80);
    padding: 20px;
    transition: 0.3s;
}
.register{
    color: black;
    font-family: sans-serif;
    text-decoration: none;
   
}
.register:hover{
    color: white;
    box-shadow: 0 5px 10px  rgb(71,184,80);
    padding: 20px;
    background-color: rgb(71,184,80)green;
    transition: 0.3s;
}
  
.visible{
    color: white;
    border: none;
    background: linear-gradient(to right,#000000, rgb(71,184,80) );
    padding: 10px 15px;
    cursor: pointer;
    transition: .1s;
    margin: 10px;
}
.visible:hover{
    box-shadow: 0 5px 10px  rgb(71,184,80);
    padding: 20px;
    background-color: lightblue;
    transition: 0.3s;
}

  /*reglas*/
.boton {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  position: fixed;
}

.boton::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  position: fixed;
}
.modal-open {
  position: relative;
  display: block;
  margin-inline: 1vw;
  width: clamp(4rem,8vw,10rem);
  position: fixed;
}

.modal-open:hover img{
  transition: transform 500ms ease;
  transform: rotate(360deg);
  
}

.modal-open > div{
  position: relative;

}

.modal-open > div img{
  width: 100%;
  
}

.modal-open > div p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  font-size: max(1.2ch,1vw);
  font-weight: 700;
  color: white;
}

.modal {
  display: none;
  position: relative;
  opacity: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal img{
  left:50%;
  transform: translate(-50%,-10%);
  max-width: min(110vh, 130vw);
  position: absolute;
  z-index: -2;
}

.modal-active{
  animation: opacity 0.33s ease-in-out forwards;
}

@keyframes opacity {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.modal-content { 
  max-width: min(45vh, 60vw);
  max-height: min(22vh, 22vw);
  text-align: center;
  transform: translateY(33%);
  font-size: min(min(1.25rem,2.5vw), 2.3vh);
  font-weight: 750;
  color:#fff;
  overflow-y: scroll;
  overscroll-behavior: contain;
  
}
.modal-content::-webkit-scrollbar{
  display: none;
}
.modal .close{
  display: flex;
  position: fixed;
  top:0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: rgb(71,184,80);
  cursor: pointer;
}

.modal .close:hover{
  transition: background-color 200ms ease;
  background-color: rgb(71,184,80);
}
