*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Flat-Italic';
    src:url(../Font/Flat-Italic.ttf);
}

@font-face {
    font-family: 'Filled-Marqued-Italic';
    src: url(../Font/Font-Win/Filled-Marqued-Italic.ttf);
}

body{
    background: url(../imagenes/Fondo-Slotisa-Plata.png) no-repeat center center fixed;
    background-size: cover;
}

.container_botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_todo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.container_padre{
    margin: auto;
}

.container_iconos-palanca{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container_iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 420px;   
}

.imagen1, .imagen2, .imagen3{
    height: 80px;
    width: 80px;
    margin: 0px 10px;
}

.Gif1, .Gif2, .Gif3{
    height: 80px;
    width: 80px;
    margin: 0px 10px;
}

#mensajeContainer {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boton-palanca{
    height: 250px;
    width: 70px;
}

.boton-palanca img{
    height: auto;
    width: auto;
}

#palancaAbajo{
    height: 250px;
    width: 70px;
    margin-top: 140px;
}

.container_palanca {
    position: absolute;
    bottom: 0;
    right: 21.5%;
    top: 30%;
}

.perdiste{
    font-size: 80px;
    font-family: 'Flat-Italic';
    font-weight: 500;
    color: red;
    -webkit-text-stroke: 1.5px rgb(226, 173, 0);
    text-shadow: 0 0 40px #ffffff;
    text-align: center;
    margin: 25px 0px;
    width: 450px;
}
@keyframes zoom{
    0% {
    transform: scale(1); /* Tamaño original */
    }
    50% {
    transform: scale(1.5); /* Tamaño ampliado */
    }
    100% {
    transform: scale(1); /* Tamaño original */
    }
}

/* Aplicar la animación a la etiqueta que deseas agrandar y achicar */
.ganaste{
    font-size: 70px;
    font-family: 'Filled-Marqued-Italic';
    font-weight: 400;
    color: rgb(9, 163, 50);
    -webkit-text-stroke: 1.5px rgb(9, 69, 25);
    text-shadow: 0 0 80px #0df805;
    animation-name: zoom; /* Nombre de la animación definida anteriormente */
    animation-duration: 2s; /* Duración de la animación en segundos */
    animation-iteration-count: infinite; 
    animation-direction: alternate; /* Invertir la animación después de cada iteración */
    margin-bottom: 50px 0px;
}

@media (max-width: 1100px){
    .container_iconos{
        justify-content: space-evenly;
    }

    .imagen1, .imagen2, .imagen3{
        height: 60px;
        width: 60px;
    }

    .Gif1, .Gif2, .Gif3{
        height: 60px;
        width: 6%;
    }

    .container_palanca{
        height: 180px;
        width: 35px;
    }

    .boton-palanca{
        height: 180px;
        width: 35px;
    }
    
    .boton-palanca img{
        height: auto;
        width: auto;
    }
    
    #palancaAbajo{
        height: 250px;
        width: 70px;
        margin-top: 140px;
    }
}

@media (max-width: 900px){
    .container_todo{
        display: flex;
        flex-direction: column;
    }
    
}
.modal-open {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    margin-inline: 1vw;
    margin-block: 1vw;
    width: 80px;
    height: 80px;
    top: 0;
    right: 0;
  }
  
  .modal-open::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0; 
    padding: 0;
    position: fixed;
  }
  
  .modal-open:hover img{
    transition: transform 500ms ease;
    transform: rotate(360deg); 
  }
  
  .modal-open > div{
    position: relative;
  }
  
  .modal-open > div img{
    width: 100%;
  }
  
  .modal-open > div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-size: max(1.2ch,1vw);
    font-weight: 700;
    color: white;
  }
  
  .modal {
    display: none;
    position: relative;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal img{
    left:50%;
    transform: translate(-50%,-10%);
    max-width: min(110vh, 130vw);
    position: absolute;
    z-index: -2;
    height: 600px;
    width: 1000px;
    margin-top: 90px;
  }
  
  .modal-active{
    animation: opacity 0.33s ease-in-out forwards;
  }
  
  @keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  .modal-content { 
    margin-top: 90px;
    max-width: min(50vh, 70vw);
    max-height: min(32vh, 32vw);
    text-align: center;
    transform: translateY(33%);
    font-size: min(min(1.25rem,2.5vw), 2.3vh);
    font-weight: 750;
    color:#fff;
    overflow-y: scroll;
    overscroll-behavior: contain;
  }

  .modal-content::-webkit-scrollbar{
    display: none;
  }
  
  .modal .close{
    display: flex;
    position: fixed;
    top:0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: #ff3333;
    cursor: pointer;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
  }
  
  .modal .close:hover{
    transition: background-color 200ms ease;
    background-color: hsl(0, 100%, 50%);
  }

  @media (min-width:1800px){
    .container_iconos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 550px;
    }

    .container_palanca {
        position: absolute;
        bottom: 0;
        right: 22.9%;
        top: 30%;
    }

}

.modal-open-2 {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    margin-inline: 1vw;
    margin-block: 1vw;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
  }
  
  .modal-open-2::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0; 
    padding: 0;
    position: fixed;
  }
  
  .modal-open-2:hover img{
    transition: transform 500ms ease;
    transform: rotate(360deg); 
  }
  
  .modal-open-2 > div{
    position: relative;
  }
  
  .modal-open-2 > div img{
    width: 100%;
  }
