* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    background-color: rgb(17, 34, 15);
    background-image: linear-gradient(180deg, rgba(18, 115, 2, 1) 0%, rgba(48, 121, 9, 1) 35%, rgba(0, 0, 0, 1) 100%), url(FondoEscena.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}
#Juego {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: none;
    border-radius: 100px;
    background-image: url(FondoMesaPrueba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#Juego::before,
#Juego::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Heredará el border-radius del elemento principal */
}

#Juego::before {
    border: 15px solid rgba(3, 65, 3, 0.9); /* Color de mesa de casino con transparencia */
    z-index: -1; /* Colocar detrás del contenido principal */
}

#Juego::after {
    border: 5px solid rgba(0, 0, 0, 0.6); /* Borde oscuro con transparencia */
    z-index: -2; /* Colocar detrás del borde principal */
}
:root{
    --variable: 1.1rem;
    z-index: 0; 
}
@media (max-width: 767px) {
    *{
        overflow: none;
    }

    #Juego::before,
    #Juego::after,
    #Juego{
        width: 100%;
        height: 100%;
        border: 0px solid;
        border-radius: 0px;
    }
    .Apuestas {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end !important;
    }

    .Apuestas button {
        width: 45%;
        margin: 5px;
    }

    #Instrucciones button {
        width: 90%;
        margin: 5px auto;
    }

    .CartaJugador, .CartaBot {
        width: 90%;
        margin: 10px 0;
        max-height: 240px;
    }
    
    .CartaBot {
        margin-left: 0;
    }
}

button {
    width: 120px;
    height: 50px;
    background: whitesmoke;
    color: rgb(13, 13, 14);
    outline: none;
    position: relative;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    color: black;
    background-color: white;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

button::after {
    background-color: #fff;
}

button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.Apuestas{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    z-index: 3;
}

#Apuestas{
    position:fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
#Instrucciones{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.676);
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    text-align: center;
    padding-left: 42%;
}

.Fondo{
    position:fixed;
    justify-content: center;
    background-image: url(FondoMesa.jpg);
    z-index: 3;
}

#PantallaOculta1{
    color: rgb(212, 218, 32);
    align-items: center;
    text-align: center;
    border-radius: 25px;
    width: 25%;
    z-index: 4;
    background-color: white;
    border: solid black 2.5px;
}

.Mesa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.Puntuacion{
    margin-top: 20px;
    text-align: center;
}

button {
    width: 120px;
    height: 50px;
    background: whitesmoke;
    color: rgb(13, 13, 14);
    border-radius: 18px;
    outline: none;
    margin: 30px;
}

.Cartas{
    min-width: 50vw;
    display: flex;
    justify-content: center;
}

.CartaJugador{
    display: flex;
    width: 15vw;
    height: 40vh;
    min-width: 90px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 10px 8px rgba(0, 0, 0, 0.282);
    width: 190px;
    height: 254px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#MostrarCartaUsuario {
    font-size: var(--variable);
    align-self: flex-start;
    padding: 5px;
}

#MostrarCartaUsuario-2 {
    font-size: 3.1rem;
    align-self: center;
}

#MostrarCartaUsuario-3 {
    font-size: var(--variable);
    align-self: flex-end;
    padding: 5px;
}

.CartaBot{
    display: flex;
    height: 40vh;
    width: 15vw;
    min-width: 90px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    background-color: white;
    box-shadow: 10px 8px rgba(0, 0, 0, 0.282);
    width: 190px;
    height: 254px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#MostrarCartaBot{
    font-size: var(--variable);
    align-self: flex-start;
    padding: 5px;
}

#MostrarCartaBot-2{
    font-size: 3.1rem;
    align-self: center;
}

#MostrarCartaBot-3{
    font-size: var(--variable);
    align-self: flex-end;
    padding: 5px;
}

#Volver{
    color: rgb(212, 218, 32);
    align-items: center;
    text-align: center;
    border-radius: 25px;
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 43.5%;
}

.modal-open-2 {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    margin-inline: 1vw;
    margin-block: 1vw;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
  }
  
  .modal-open-2::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0; 
    padding: 0;
    position: fixed;
  }
  
  .modal-open-2:hover img{
    transition: transform 500ms ease;
    transform: rotate(360deg); 
  }
  
  .modal-open-2 > div{
    position: relative;
  }
  
  .modal-open-2 > div img{
    width: 100%;
  }
