*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#final{
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.616);
}
.puntos1{
    background-image: url(ficha-5.png);
    background-size: cover;
    border-radius: 300px;
    padding: 20px;
    margin: 10px;
}
.puntos2{
    background-image: url(ficha-1.png);
    background-size: cover;
    border-radius: 300px;
    padding: 20px;
    margin: 10px;
}
.puntos1 p{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
    margin-left: 2px;
}
.puntos2 p{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
    margin-left: 2px;
}
.finJuego{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(3, 214, 24) 13%, rgb(0, 255, 42)100%);
    border-radius: 200px;
    padding: 18px;
    width: 30%;
}

#playAgain{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}
#playAgain:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
    outline: 2px solid rgb(0, 0, 0);
}
#dealer-cards{
    width: 80%;
    margin-right: auto;
}
#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
    box-shadow: 0px 0px 5px black;

}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;

}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.sol1{
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 13%, rgb(255, 0, 0)100%);
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    margin-top: 0;
    box-sizing: border-box;
    border-radius: 200px;

}

.sol2{
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 13%, rgb(42, 182, 65)100%);
        width: 200px;
        margin: 20px auto;
        padding: 10px;
        margin-top: 0;
        box-sizing: border-box;
        border-radius: 200px;
}

#stay, #hit{
    background-color: #47b850;
    color: white;
    text-decoration: solid black 2px;
    border: none;
    outline: none;
    transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out;

}
#stay:hover, #hit:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}
#hit{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#stay{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#valores1 img{
    float: right;
    text-align: right;
    height: 50px;
    width: auto;
    margin-top: 5px;
    margin-right: 35px;
}
button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
a {
    position: relative;
    display: block;
    margin-inline: 2vw;
    width: clamp(1.5rem,5.5vw,7.5rem);
    float: left;
}

a > div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-size: max(1ch,0.8vw);
    font-weight: 700;
    color: #000;
}

a img{
    width: 100%;
}

a img:hover{
    transition: transform 500ms ease;
    transform: rotate(-360deg);
}

.modal-open {
    position: relative;
    display: block;
    margin-inline: 2vw;
    width: clamp(1.5rem,5.5vw,7.5rem);
    float: left;
    
}

.modal-open:hover img{
    transition: transform 500ms ease;
    transform: rotate(360deg);
}

.modal-open > div{
    position: relative;

}

.modal-open > div img{
    width: 100%;
}

.modal-open > div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-size: max(1ch,0.8vw);
    font-weight: 700;
}

.modal {
    display: none;
    position: relative;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal img{
    left:50%;
    transform: translate(-50%,-10%);
    max-width: min(110vh, 130vw);
    position: absolute;
    z-index: -2;
}

.modal-active{
    animation: opacity 0.33s ease-in-out forwards;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.modal-content { 
    max-width: min(45vh, 60vw);
    max-height: min(22vh, 22vw);
    text-align: center;
    transform: translateY(33%);
    font-size: min(min(1.25rem,2.5vw), 2.3vh);
    font-weight: 750;
    color:#fff;
    overflow-y: scroll;
    overscroll-behavior: contain;
}
.modal-content::-webkit-scrollbar{
    display: none;
}

.modal-content p{
    font-family: Arial, Helvetica, sans-serif;
}

.modal .close{
    display: flex;
    position: absolute;
    top:0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: hsl(2, 100%, 60%);
    cursor: pointer;
}

.modal .close:hover{
    transition: background-color 200ms ease;
    background-color: hsl(0, 0%, 100%);
}
#sidebar {
    background-color: #38883d;
    padding: 20px;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar h3 {
    margin-bottom: 10px;
}

#dineros, #cantidadApuesta {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
    margin: 5px;
}

#bet-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#place-bet {
    background-color: #47b850;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#place-bet:hover {
    background-color: #38883d;
}
