*{
  padding: 0px;
  margin: auto;
  box-sizing: border-box;
}
.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
.dice {
    text-align: center;
    display: inline-block;
  }
  
body {
    background-image: url(images/Fondo-Bingo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

.contenedor{
    width: 90%;
    color: white;
}
header{
    text-align: center;
    font-style: italic;
}
#instrucciones{
    display: none;
    align-items: end;
    size: 20px;
    color: white;
}
.apuestaJugar{
    font-size:larger;
    text-align: center;
}
.modal-open {
  position: relative;
  display: block;
  margin-inline: 2vw;
  width: clamp(4rem,8vw,10rem);
}
.modal-open:hover img{
  transition: transform 500ms ease;
  transform: rotate(360deg);
}
.modal-open > div{
  position: relative;
}
.modal-open > div img{
  width: 100%;
}
.modal-open > div p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  font-size: max(1.2ch,1vw);
  font-weight: 700;
}
.modal {
  display: none;
  position: relative;
  opacity: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal img{
  left:50%;
  transform: translate(-50%,-10%);
  max-width: min(110vh, 130vw);
  position: absolute;
  z-index: -2;
}
.modal-active{
  animation: opacity 0.33s ease-in-out forwards;
}
@keyframes opacity {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.modal-content { 
  max-width: min(45vh, 60vw);
  max-height: min(22vh, 22vw);
  text-align: center;
  transform: translateY(33%);
  font-size: min(min(1.25rem,2.5vw), 2.3vh);
  font-weight: 750;
  color:#fff;
  overflow-y: scroll;
  overscroll-behavior: contain;
}
.modal-content::-webkit-scrollbar{
  display: none;
}

.modal .close{
  display: flex;
  position: absolute;
  top:0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: hsl(0, 100%, 60%);
  cursor: pointer;
}
.modal .close:hover{
  transition: background-color 200ms ease;
  background-color: hsl(0, 100%, 50%);
}
button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.boton{
  background-color: rgb(136, 136, 7);
  border-radius: 10px;
  width: 15%;
}
